body{
    background-image: url('background.gif');
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}



#Calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

#Calculator:hover {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5); /* Green shadow light effect */
}



#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 100%, 9%);
    color: white;
    
}



#keys{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}


.me{
    color: white;
    position: absolute;
  bottom: 145px;
  left: 870px;
  font-family: "arial";
}